list-container {
    text-align: center;
}

.container{
    padding-top: 20px;
}
#nav{
    padding-bottom: 20px;
}
#industry{
    padding-top: 50px;
}
#industriesBtn{
    margin-bottom: 50px;
    margin-bottom: 50px;
}
.btn.btn-default.btn-sm{
    margin: 10px auto;
}

#industries {
    display: flex;
    align-content: space-around;
    margin-bottom: 50px;
}

main {
   display: flex;
   justify-content: center;
}

.waitin {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
#waitin {
    padding-top: 100px;
    text-align: center;
    display: block; 
    justify-content: center;
    margin: 0 auto;
}
