<div id="industry" class="col-md-12 text-center">
    <button id="industriesBtn" type="button" {{action "toggleList"}} class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> Industries
    </button>
</div>
{{#if showingList}}
    <div id="industries" class="col-md-12 text-center">
        {{#each industries as |industry| }}
            <button id={{industry.tag}} {{action 'populateGraph' industry.tag}} type='button' class="btn btn-default btn-sm">
                <span class='glyphicon glyphicon-stats' aria-hidden='true'></span>
                {{industry.name}}
            </button>
        {{/each}}
    </div>
{{/if}}
